@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  /* color: inherit; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;
}

html, body {
  background-color: #EFEFEF;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 50;
}

.contrast {
  mix-blend-mode: difference;
  color: white;
  z-index: 50;
}

.contrast img {
  filter: invert(1); /* This will invert the logo colors */
}

.contrast a {
  color: #FFFFFF; /* This should be white to create a high contrast */
}

.smooth-shadow {
  box-shadow: 0px 0px 0px 1px #0E3F7E08,
0px 1px 1px -0.5px #2A334508,
0px 3px 3px -1.5px #2A334608,
0px 6px 6px -3px #2A334608,
0px 12px 12px -6px #0E3F7E08,
0px 24px 24px -12px #0E3F7E10
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;
}

.embla__slide {
  flex: 0 0 auto; /* Adapt slide size to its content */
  min-width: 0;
  max-width: max-content; /* Prevent from growing larger than viewport */
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: -24px;
}

::selection {
  background-color: #FFCE5B;
  color: #171717;
}

b {
  font-weight: 900;
}

/* we add a custom underline using scratches: /public/images/scratches/yellow-underline.svg */
.custom_underline {
  position: relative;
}

.custom_underline::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 12px;
  max-height: 12px;
  background-image: url('/images/scratches/yellow-underline.svg');
  background-repeat: no-repeat;
}

.richtext_underline {
  position: relative;
}

.richtext_underline::after {
  content: '';
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 10px;
  background-image: url('/images/scratches/richtext-underline.svg');
  background-repeat: no-repeat;
}

.scratch, .scratch_red, .scratch_gold {
  position: relative;
}

.scratch::after {
  content: '';
  position: absolute;
  top: -30%;
  left: -30%;
  width: 150%;
  height: 150%;
  background-image: url('/images/scratches/yellow-scratch.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.scratch_red::after {
  content: '';
  position: absolute;
  top: -30%;
  left: -30%;
  width: 150%;
  height: 150%;
  background-image: url('/images/scratches/red-scratch.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.scratch_gold::after {
  content: '';
  position: absolute;
  top: -30%;
  left: -30%;
  width: 150%;
  height: 150%;
  background-image: url('/images/scratches/gold-scratch.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.slide {
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  font-size: 120px;
  margin-right: 80px;
  letter-spacing: -0.02em;                
}

/* cursor */
.flare {
  position: fixed;
  border: 2px solid white;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  backdrop-filter: blur(1px);
  background-color: #0000005e;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important; /* Let's hide the default cursor so it looks way better */
}

.bg-texture {
  background-image: url('/images/textures/black-bg.jpg');
  background-repeat: repeat-y !important; 
  background-size: 100%; 
  background-position: center top; 
}


/* .flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
} */


@media screen and (max-width: 768px) {
  .slide {
    font-size: 80px;
    margin-right: 48px;
  }
  .flare {
    width: 0;
    height: 0;
    display: none;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}